.container{
	display:grid;
	grid-template-columns: 1fr 1fr;
}
div{
	border:2px solid darkblue;
}

body{
	background-image:url("Background.jpg");
	backround-repeat:no-repeat;
	backround-size:100% auto;
	
	h1{color:darkblue;}

	
}